.challengeSection_container {
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}
.challengeSection_header {
  text-align: center;
  color: #fbf6fb;
  font-family: "bangers";
  font-size: 64px;
  letter-spacing: 4px;
}
@media (max-width: 800px) {
  .challengeSection_header {
    font-size: 25px;
  }
}
